@import "tailwindcss";

:root {
  --background: #fbfbfb;
  --nav-background: #f5f5f5;
  --foreground: #171717;
  --card-background: #ffffff;
}

.dark {
  --background: #121212;
  --nav-background: #1e1e1e;
  --foreground: #ededed;
  --card-background: #262626;
}

@theme inline {
  --color-background: var(--background);
  --color-nav: var(--nav-background);
  --color-foreground: var(--foreground);
  --color-card: var(--card-background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}